<main class="uk-height-viewport uk-position-relative hero-top">
    <div class="uk-position-center uk-position-z-index">
      <div class="uk-padding uk-position-relative">
        <h1 class="uk-text-white uk-text-bold uk-width-1-2@m">{{element.data.intro}}</h1>

        <a href="{{element.data.button_link}}" class="uk-button uk-button-primary uk-button-large button-with-icon">{{element.data.button_label}} 
          <span class="uk-position-relative" uk-icon="arrow-right"></span>
        </a>
        <span class="toggle-mode uk-position-center-right">
      </span>
      </div>
    </div>
    <span class="wingding"></span>
</main>